    <nav class = "nav__container">
        <div class = "site-title">
            <a href = "/"><h1>Daily Knowledge</h1></a>
            <p>1% better everyday</p>
        </div>
        <div class = "nav__section">
            <div class = "section"><a href = "/" >Notes</a></div>
            <div class = "section"><a href = "/about">About</a></div>
            <div class = "section"><a href = "/blogs/create">New</a></div>
        </div>
    </nav>
    <div class = "space"></div>