<%- include('./partials/header'); %>
<%- include('./partials/nav'); %>
    <div class = "about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, atque.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, atque.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, atque.</p>
    </div>
<%- include('./partials/footer'); -%>